@font-face{
    font-family: pixel_font;
    src: url(fonts/PressStart2P.ttf);
}
body, p{
    background-color: #000;
    color : white;
    font-family: pixel_font;
}
div {
    position: fixed;
    padding: 0px;
    margin: 0px;
    border-width: 0px
}
img {
    background:transparent;
    padding: 0px;
    margin: 0px;    
    border-width: 0px
    
}
span {
    font-size : 30px;
}
#stars {
    position : fixed;
    z-index: -10000 !important;
    width : 100%;
    height : 100%;
}
.star {
    position : fixed;
    width : 1px;
    height : 1px;
    border: 1px style solid;
    border-radius: 1px;
    color : #eee;
    background-color: #eee;
}
.left {
    position : relative;
    float: left;
}

.right {
    position : relative;
    text-align: right;
    float: right;
}
.middle {
    position : fixed;
    
    left : 50% 
}
.player1{
    width: 100px;
    height: 100px;
    content:url("./assets/player1.png");
    position: fixed;
}
.player1_icon {
    position : relative;    
    display: inline-block;        
    width: 40px;
    height: 40px;
    content:url("./assets/player1.png");    
}
.player2 {
    width: 100px;
    height: 100px;
    content:url("./assets/player2.png");
    position: fixed;

}
.player2_icon {
    position : relative;
    display: inline-block;        
    width: 40px;
    height: 40px;
    content:url("./assets/player2.png");    
}
.enemy {
    content:url("./assets/enemy.png");
    position: fixed;    
}
.lvl_boss {
    content:url("./assets/lvl_boss.png");
    position: fixed;    
}

@keyframes rotate_continuous {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    
    }
    to {
        transform: rotate(360deg);
        transform-origin: center;
    
    }
}

.enemy_bullet {
    width : 1.1%;
    height : auto;
    content:url("./assets/enemy.png");

    animation-name : rotate_continuous;
    animation-duration : 10s;
    animation-iteration-count:  infinite;
    
}
.lvl_boss_bullet {
    width : 1.1%;
    height : auto;
    content:url("./assets/lvl_boss_bullet.png");

    animation-name : rotate_continuous;
    animation-duration : 10s;
    animation-iteration-count:  infinite;
    
}
@keyframes rotate_continuous_CC {
    from {
        transform: rotate(360deg);
        transform-origin: center;
    
    }
    to {
        transform: rotate(0deg);
        transform-origin: center;
    
    }
}

.enemy_bullet_CC {
    width : 1.1%;
    height : auto;
    content:url("./assets/enemy.png");

    animation-name : rotate_continuous_CC;
    animation-duration : 10s;
    animation-iteration-count:  infinite;
    
}
.lvl_boss_bullet_CC {
    width : 1.1%;
    height : auto;
    content:url("./assets/lvl_boss_bullet.png");

    animation-name : rotate_continuous_CC;
    animation-duration : 10s;
    animation-iteration-count:  infinite;
    
}
.bullet1 {
	width: 20px;
	height: 50px;
	/* background: red; */
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;

    background: linear-gradient(to middle, rgba(255,0,0,0), rgba(255,0,0,1));

}

/* Cleaner, but slightly less support: use "50%" as value */
					
.bullet1 {
    background-color: #ae1b1a;
}



.bullet2 {
	width: 20px;
	height: 50px;
	/* background: red; */
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    
    background: linear-gradient(to middle, rgba(255,0,0,0), rgba(0,0,255,1));

}

/* Cleaner, but slightly less support: use "50%" as value */
					
.bullet2 {
    background-color: #1a1bae;
}

.main_menu {
    position:fixed;
    background-color:rgba(20, 20, 20, 1);
    /* width : 300px; */
    /* height : 150px; */
    margin-left : 20%;
    margin-top : 10%; 
    width : 60%;
    height: 45%;
    border: 2px solid #fff;    
    padding-top: 3em;

    text-align: center;
    vertical-align: middle; 
}

.menu_bt{
    position: relative;
    display: block;
    /* width:fit-content; */
    text-align: center;
    /* vertical-align: middle;      */
    background-color: rgba(120, 120, 120, 0);
    cursor: pointer;
    margin-bottom : 2em;
}
.menu_bt :hover{
    background-color:rgba(120, 120, 120, 1);    
}
.player_controls_cont {
    position : relative;
    display: inline-block;
    background-color: rgba(120, 120, 120, 0);
    /* border: 2px solid #fff;     */
    width : 50%;
    height : auto;
    
}
.block {
    /* padding-top : 25px; */
    display : block;
    position: relative;
    text-align: center;
    margin-bottom : 2em;
    background-color: rgba(120, 120, 120, 0);
    
    /* vertical-align: middle;  */
}

.inline_block {
    /* padding-top : 25px;     */
    display : inline-block;
    position: relative;
    width : auto;
    margin-bottom : 1em;
    background-color: rgba(120, 120, 120, 0);
    
    
}
.pause {
    position:fixed;
    background-color:rgba(20, 20, 20, 1);
    /* width : 300px; */
    /* height : 150px; */
    margin-left : 20%;
    margin-top : 10%; 
    width : 60%;
    height: 35%;
    border: 2px solid #fff;
    padding-top : 15%;
    /* padding-left : 60%;  */
    
    /* float: center */
    text-align: center;
    vertical-align: middle;
    /* line-height: 75%;     */
}
.pause span{
    font-size: 1.5em;

    /* display: inline-block;
    margin-left:27%; */
    /* margin-top:23%; */
    

}

.hidden {
    visibility: hidden;
}

.blink_me {
    color: white;
    /* height: 200px;
    width: 200px; */
    -webkit-animation-name: toggle;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: toggle;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: toggle;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes toggle {
           from {
              opacity:1;
           }
       50% {
              opacity:1;
           }
       to {
              opacity:0;
        }
   }
  @-webkit-keyframes toggle {
           from {
              opacity:1;
           }
       50% {
              opacity:1;
           }
       to {
              opacity:0;
        }
   }
   .hidden .blink_me{
    visibility: hidden;
}



.space-invader{

    box-shadow:
      0 0 0 1em red,
      0 1em 0 1em red,
      -2.5em 1.5em 0 .5em red,
      2.5em 1.5em 0 .5em red,
      -3em -3em 0 0 red,
      3em -3em 0 0 red,
      -2em -2em 0 0 red,
      2em -2em 0 0 red,
      -3em -1em 0 0 red,
      -2em -1em 0 0 red,
      2em -1em 0 0 red,
      3em -1em 0 0 red,
      -4em 0 0 0 red,
      -3em 0 0 0 red,
      3em 0 0 0 red,
      4em 0 0 0 red,
      -5em 1em 0 0 red,
      -4em 1em 0 0 red,
      4em 1em 0 0 red,
      5em 1em 0 0 red,
      -5em 2em 0 0 red,
      5em 2em 0 0 red,
      -5em 3em 0 0 red,
      -3em 3em 0 0 red,
      3em 3em 0 0 red,
      5em 3em 0 0 red,
      -2em 4em 0 0 red,
      -1em 4em 0 0 red,
      1em 4em 0 0 red,
      2em 4em 0 0 red;
  
      background: red;
      width: 1em;
      height: 1em;
      overflow: hidden;
  
      margin: 50px 0 70px 65px;
    }
  
  .space-invader {
      box-shadow: #ae1b1a 0px 0px 0px 1em, #ae1b1a 0px 1em 0px 1em, #ae1b1a -2.5em 1.5em 0px 0.5em, #ae1b1a 2.5em 1.5em 0px 0.5em, #ae1b1a -3em -3em 0px 0px, #ae1b1a 3em -3em 0px 0px, #ae1b1a -2em -2em 0px 0px, #ae1b1a 2em -2em 0px 0px, #ae1b1a -3em -1em 0px 0px, #ae1b1a -2em -1em 0px 0px, #ae1b1a 2em -1em 0px 0px, #ae1b1a 3em -1em 0px 0px, #ae1b1a -4em 0px 0px 0px, #ae1b1a -3em 0px 0px 0px, #ae1b1a 3em 0px 0px 0px, #ae1b1a 4em 0px 0px 0px, #ae1b1a -5em 1em 0px 0px, #ae1b1a -4em 1em 0px 0px, #ae1b1a 4em 1em 0px 0px, #ae1b1a 5em 1em 0px 0px, #ae1b1a -5em 2em 0px 0px, #ae1b1a 5em 2em 0px 0px, #ae1b1a -5em 3em 0px 0px, #ae1b1a -3em 3em 0px 0px, #ae1b1a 3em 3em 0px 0px, #ae1b1a 5em 3em 0px 0px, #ae1b1a -2em 4em 0px 0px, #ae1b1a -1em 4em 0px 0px, #ae1b1a 1em 4em 0px 0px, #ae1b1a 2em 4em 0px 0px;
      background-color: #ae1b1a;
  }